body {
  margin: 100px;
}
.row {
  display: flex;
}
.col {
  float: right;
  padding: 10px;
  height: 300px;
}
.left {
  width: 75%;
}
.right {
  width: 25%;
}
table,
th,
td {
  border: 1px solid black;
}
td {
  height: 30px;
  text-align: center;
  vertical-align: middle;
}
.mtable {
  margin-top: 60px;
}
button {
  height: 40px;
  font-weight: 700;
}
